  <script>
    var AlwaysUseSilk = true
  </script>
  <script defer src="https://dagammla.gitlab.io/keep-silk-open/keep.js">
  </script>
  <a href="https://gitlab.com/DaGammla/keep-silk-open" target="_blank">
    <!--- Note: Image generated using Bing Generative AI -->
    <img src="/plugin/KeepSilkOpen/static/img/smart_speaker.png" alt="KeepSilkOpen" width="20" height="20">
  </a>
